HELP.md
/target/
/build/
.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.springBeans
.sts4-cache
.properties
.metadata/
.settings/
/bin/
/tmp/

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

### VS Code ###
.vscode/

.env

### Custom: 충돌 방지용 설정 파일 제외 ###
# 개인 설정 파일은 Git에서 추적하지 않도록 처리 (충돌 방지 목적)
src/main/resources/application.yml
pom.xmltarget/
