<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- 연결할 인터페이스 정보를 namespace에 기술 -->
<mapper namespace="com.project.tuni_back.mapper.ImageFileMapper">
   <insert id="insert" parameterType="com.project.tuni_back.bean.vo.ImageFileVO">
	    INSERT INTO IMAGEFILE (UUID, FILE_NAME, UPLOAD_PATH, BOARD_ID, IS_REPRESENTATIVE)
	    VALUES (#{uuid}, #{fileName}, #{uploadPath}, #{boardId}, #{isRepresentative})
	</insert>
   <select id="getImageFile" resultType="com.project.tuni_back.bean.vo.ImageFileVO"> 
      SELECT *
      FROM IMAGEFILE
      WHERE BOARD_ID = #{boardId} 
   </select>
   <update id="updateImageFile">
   		UPDATE IMAGEFILE
   		SET UUID = #{uuid}, UPLOAD_PATH = #{uploadPath}, FILE_NAME = #{fileName}
   		WHERE BOARD_ID = #{boardId}
   </update>
   <delete id="deleteByBoardId">
	   	DELETE FROM IMAGEFILE
	   	WHERE BOARD_ID = #{boardId}
   </delete>
   <delete id="deleteByUuid">
	   	DELETE FROM IMAGEFILE
	   	WHERE UUID = #{uuid}
   </delete>
   
</mapper>