<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- 연결할 인터페이스 정보를 namespace에 기술 -->
<mapper namespace="com.project.tuni_back.mapper.UniversityMapper">
	<select id="findByDomain" parameterType="java.lang.String" resultType="com.project.tuni_back.bean.vo.UniversityVO">
	    SELECT s.school_id, s.name
	    FROM school s
	    JOIN domain ud ON s.school_id = ud.school_id
	    WHERE ud.email = #{email}
	</select>
    <select id="findById" parameterType="Long" resultType="com.project.tuni_back.bean.vo.UniversityVO">
	    SELECT *
	    FROM school
	    WHERE school_id = #{school_id}
	</select>

	<select id="findAll" resultType="com.project.tuni_back.bean.vo.UniversityVO">
	    SELECT *
	    FROM school
	    ORDER BY name ASC
	</select>
	
	<select id="findDomainsByUniversityId" parameterType="Long" resultType="java.lang.String">
	    SELECT email
	    FROM domain
	    WHERE school_id = #{school_id}
	</select>
</mapper>