<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- 연결할 인터페이스 정보를 namespace에 기술 -->
<mapper namespace="com.project.tuni_back.mapper.UserMapper">
	<insert id="save" parameterType="com.project.tuni_back.bean.vo.UserVO">
        INSERT INTO `users` (user_id, school_id, email, profile_img)
        VALUES (#{userId}, #{schoolId}, #{email}, #{profileImg})
    </insert>

    <select id="findByEmail" resultType="com.project.tuni_back.bean.vo.UserVO">
        SELECT *
        FROM `users`
        WHERE email = #{email}
    </select>
    
    <select id="findByUserId" parameterType="java.lang.String" resultType="com.project.tuni_back.bean.vo.UserVO">
	    SELECT * 
	    FROM `users` 
	    WHERE user_id = #{user_id}
	</select>
	<select id="findBySchoolname" parameterType="java.lang.String" resultType="com.project.tuni_back.bean.vo.UserVO">
	    SELECT u.user_id, u.school_id, s.name AS school_name
	    FROM user u
	    JOIN school s ON u.school_id = s.school_id
	    WHERE u.user_id = #{userId}
	</select>
	<update id="updateUserProfile">
	  UPDATE users
	  SET 
	    user_id = #{userId},
	    profile_img = #{profileImg}
	  WHERE user_id = #{oldUserId}
	</update>

	
</mapper>